<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h1 id="homepage-heading">Home Page</h1>
    </div>
    <div class="col-12 text-center mt-5">
      <button
        class="btn btn-primary"
        [routerLink]="['/', 'basic-component-testing']"
      >
        Basic Component Testing
      </button>
    </div>
    <div class="col-12 text-center mt-5">
      <button
        class="btn btn-primary"
        [routerLink]="['/', 'component-with-service']"
      >
        Component With Service
      </button>
    </div>
  </div>
</div>
